anyio==3.7.1
asgiref==3.8.1
async-timeout==5.0.1
asyncio==3.4.3
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
babel==2.17.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
constantly==23.10.4
cryptography==45.0.5
Django==5.2.3
django-appconf==1.1.0
django-phonenumber-field==8.1.0
django-redis==6.0.0
django-select2==8.4.1
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.5.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
phonenumberslite==9.0.7
psycopg==3.2.9
psycopg-binary==3.2.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==6.2.0
requests==2.32.4
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
watchgod==0.8.2
whitenoise==6.9.0
zope.interface==7.2
