{% extends 'accounts/main.html' %} 

{% block title %}Dropped Enquiry Details{% endblock %} 

{% block content %}

<div class="container my-4">
  <h3 class="mb-5">Dropped Enquiry Details</h3>

  <div class="table-responsive">
    <table class="table table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th scope="col">Sl. No</th>
          <th scope="col">Customer Details</th>
          <th scope="col">Service Types</th>
          <th scope="col">Project Type</th>
          <th scope="col">Status</th>
          <th scope="col">Prop/Quot Required</th>
          <th scope="col">Estimate Amount</th>
          <th scope="col">Plot/Land Area</th>
          <th scope="col">Next Follow Up On</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for enquiry in enquiries %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ enquiry.customer_name }}<br>
            {{ enquiry.address }}<br>
            {{ enquiry.district }}, {{ enquiry.state }}
          </td>
          <td>
            {% for service in enquiry.service_types.all %}
            {{ service }},<br>
            {% endfor %}
          </td>
          <td>{{ enquiry.project_type }}</td>
          <td>{{ enquiry.get_status_display }}</td>
          <td>
            {% if enquiry.proposal_required %}
            Yes
            {% else %}
            No
            {% endif %}
          </td>
          <td>{{ enquiry.estimate_amount }}</td>
          <td>{{ enquiry.plot_area }} {{ enquiry.plot_unit }}</td>
          <td>{{ enquiry.next_follow_up }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item view-dropped-enquiry" hx-get="{% url 'view_dropped' enquiry.id %}" hx-trigger="click" hx-swap="outerHTML" hx-target="#viewDroppedContent" style="cursor: pointer;">👁️ View</a></li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- View Modal -->
<div class="modal fade" id="viewModalDropped" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div id="viewDroppedContent">

      </div>
    </div>
  </div>
</div>


{% endblock %}