{% extends 'accounts/main.html' %}

{% block title %}Work Payment{% endblock %} 

{% block content %}
<div class="container my-4 justify-content-center">
    <h3 class="mb-4">Payment Details</h3>
    <div class="container mb-5">
        <div class="vertical-table">
            <div class="row">
                <div class="col-md-3 label">Customer Details</div>
                <div class="col-md-9">
                    {{ work.customer.name }}<br>
                    {{ work.customer.address }}<br>
                    {{ work.customer.district }}, {{ work.customer.state }}<br>
                    {{ work.customer.mobile_number }}<br>
                    {{ work.customer.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Service Types</div>
                <div class="col-md-9">
                    {% for service in work.service_types.all %}
                    {{ service }},<br>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Project Type</div>
                <div class="col-md-9">{{ work.project_type }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Plot/Land Area</div>
                <div class="col-md-9">{{ work.plot_area }} {{ work.plot_unit }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Prop/Quot Required</div>
                <div class="col-md-9">
                    {% if work.proposal_required %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Estimate Amount</div>
                <div class="col-md-9">{{ work.estimate_amount }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Amount Left</div>
                <div class="col-md-9">{{ work.get_amount_left }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 label">Site Engineer</div>
                <div class="col-md-9">
                    {% if work.site_engineer %}
                    {{ work.site_engineer }}
                    {% else %}
                    Not Assigned
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
        <thead class="table-light">
            <tr>
            <th scope="col">Sl. No</th>
            <th scope="col">Amount</th>
            <th scope="col">Mode</th>
            <th scope="col">Paid At</th>
            </tr>
        </thead>
        <tbody>
            {% for pay in payments %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ pay.amount }}</td>
            <td>{{ pay.get_mode_display }}</td>
            <td>{{ pay.payment_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}